# 🔧 Archivos generados automáticamente
__pycache__/
*.log
*.pyc

# 🔧 Entorno virtual y configuraciones locales
venv/
.env/
env/
.devcontainer/  # 💡 Añádelo si decidiste que no quieres compartir tu config de contenedor

# 🔧 Archivos específicos de VSCode y Jupyter Notebook
.vscode/
.ipynb_checkpoints/

# 🔧 Archivos temporales y caché del sistema
*.tmp
*.bak
*.swp
Thumbs.db
desktop.ini

# 🔧 Específico de Streamlit
.streamlit/config.toml  # Es mejor ignorar la config personal de Streamlit

# 🔧 DATOS Y MODELOS (Puntos críticos)
# Ignoramos los datos crudos originales por seguridad
01_data/raw/*.csv

# PERO permitimos los datos procesados que la APP necesita
!01_data/processed/scoring_output.csv

# Ignoramos archivos de gran tamaño que genera Jupyter
*.ipynb_checkpoints